/* CoinNews.css */

/* Base styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
}

li:hover {
    background-color: #f1f1f1;
}

h3 {
    margin: 0 0 10px 0;
}

p {
    margin: 5px 0;
}

.details {
    color: purple; /* Change this color to your desired color */
    font-weight: bold;
}

.content-container {
    padding-bottom: 60px; /* Adjust this value as needed */
}

.news-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: purple;
    color: white;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Responsive styles */
@media (max-width: 768px) {
    li {
        padding: 15px;
    }

    h3 {
        font-size: 1.2em;
    }

    p {
        font-size: 1em;
    }

    .details {
        font-size: 0.9em;
    }

    .content-container {
        padding-bottom: 80px; /* Adjust this value as needed for smaller screens */
    }
}